.container {
  padding: 0 2rem;
}

@media only screen and (min-width: 992px) {
  .container {
    height: 100vh;
  }
}

.main {
  position: relative;
  z-index: 2;
}

.footer {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 4px;
}

.github_link_wrapper {
  position: absolute;
  top: 8px;
}

.connect_button_wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
}
